*.DS_Store
*.o
*.pl
../kent/
../.DS_Store
../Bio-BigFile-1.07/
obj/
*.clang_complete
*.so
iterativeSEM
results
old_results
perf.data*
*test*
*err*
*[1-9].txt
*[1-9]
*.out
*debug*
*.dat
SEM_CPP/lib/TFM-Pvalue/TFMpvalue-*
*/data/
SEM_CPP/examples/temp.txt
